In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("final_relai.csv")
df.head()


# Convert the 'Time' column to datetime format
df['Time'] = pd.to_datetime(df['Time'], format='%Y-%m-%d %H:%M:%S.%f', errors='coerce')

df.head()

,URL_ABCNatation,ID_FFN,Sex,Bassin,Type,Time,Age,Pts,Where,Date,Club,Link_Relai,Full Name
0,https://abcnatation.fr/club_manager/clubs/nage...,297793,F,50,50 NL,1900-01-01 00:00:33.850,13,517,RENNES,2002-06-15,LANNION NATATION,NaN,Marion COQUILLON
1,https://abcnatation.fr/club_manager/clubs/nage...,297793,F,50,100 NL,1900-01-01 00:01:18.080,13,425,RENNES,2002-06-16,LANNION NATATION,NaN,Marion COQUILLON
2,https://abcnatation.fr/club_manager/clubs/nage...,109804,F,50,50 NL,1900-01-01 00:00:31.240,17,614,RENNES,2003-06-14,LANNION NATATION,NaN,Manuela DREO
3,https://abcnatation.fr/club_manager/clubs/nage...,109804,F,50,50 NL,1900-01-01 00:00:31.160,16,617,RENNES,2002-06-15,LANNION NATATION,NaN,Manuela DREO
4,https://abcnatation.fr/club_manager/clubs/nage...,109804,F,50,100 NL,1900-01-01 00:01:09.100,17,570,RENNES,2003-06-15,LANNION NATATION,NaN,Manuela DREO

In [4]:

df_homme = df[df['Sex'] == "H"]
df_femme = df[df['Sex'] == "F"]
df_mixte = df[df['Sex'] == "A"]


df_femme.head()

,URL_ABCNatation,ID_FFN,Sex,Bassin,Type,Time,Age,Pts,Where,Date,Club,Link_Relai,Full Name
0,https://abcnatation.fr/club_manager/clubs/nage...,297793,F,50,50 NL,1900-01-01 00:00:33.850,13,517,RENNES,2002-06-15,LANNION NATATION,NaN,Marion COQUILLON
1,https://abcnatation.fr/club_manager/clubs/nage...,297793,F,50,100 NL,1900-01-01 00:01:18.080,13,425,RENNES,2002-06-16,LANNION NATATION,NaN,Marion COQUILLON
2,https://abcnatation.fr/club_manager/clubs/nage...,109804,F,50,50 NL,1900-01-01 00:00:31.240,17,614,RENNES,2003-06-14,LANNION NATATION,NaN,Manuela DREO
3,https://abcnatation.fr/club_manager/clubs/nage...,109804,F,50,50 NL,1900-01-01 00:00:31.160,16,617,RENNES,2002-06-15,LANNION NATATION,NaN,Manuela DREO
4,https://abcnatation.fr/club_manager/clubs/nage...,109804,F,50,100 NL,1900-01-01 00:01:09.100,17,570,RENNES,2003-06-15,LANNION NATATION,NaN,Manuela DREO

In [5]:

df_homme_25 = df_homme[df_homme['Bassin'] == 25]
df_homme_50 = df_homme[df_homme['Bassin'] == 50]

df_femme_25 = df_femme[df_femme['Bassin'] == 25]
df_femme_50 = df_femme[df_femme['Bassin'] == 50]

df_mixte_25 = df_mixte[df_mixte['Bassin'] == 25]
df_mixte_50 = df_mixte[df_mixte['Bassin'] == 50]

In [6]:
df_femme_50.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27765 entries, 0 to 239618
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   URL_ABCNatation  27765 non-null  object
 1   ID_FFN           27765 non-null  int64
 2   Sex              27765 non-null  object
 3   Bassin           27765 non-null  int64
 4   Type             27765 non-null  object
 5   Time             27765 non-null  datetime64[ns]
 6   Age              27765 non-null  int64
 7   Pts              27765 non-null  int64
 8   Where            27765 non-null  object
 9   Date             27765 non-null  object
 10  Club             27765 non-null  object
 11  Link_Relai       394 non-null    object
 12  Full Name        27765 non-null  object
dtypes: datetime64[ns](1), int64(4), object(8)
memory usage: 3.0+ MB

In [7]:
list_femme_by_cat_25 = {}
list_femme_by_cat_50 = {}

list_homme_by_cat_25 = {}
list_homme_by_cat_50 = {}

for limit_age in range(12,19,1):
    min_time_indices_f_25 = df_femme_25[df_femme_25["Age"]<=limit_age].groupby('Type')['Time'].idxmin()
    min_time_indices_f_50 = df_femme_50[df_femme_50["Age"]<=limit_age].groupby('Type')['Time'].idxmin()

    min_time_indices_h_25 = df_homme_25[df_homme_25["Age"]<=limit_age].groupby('Type')['Time'].idxmin()
    min_time_indices_h_50 = df_homme_50[df_homme_50["Age"]<=limit_age].groupby('Type')['Time'].idxmin()

    list_femme_by_cat_25[limit_age] = df.loc[min_time_indices_f_25]
    list_femme_by_cat_50[limit_age] = df.loc[min_time_indices_f_50]

    list_homme_by_cat_25[limit_age] = df.loc[min_time_indices_h_25]
    list_homme_by_cat_50[limit_age] = df.loc[min_time_indices_h_50]


min_time_indices_f_25 = df_femme_25.groupby('Type')['Time'].idxmin()
min_time_indices_f_50 = df_femme_50.groupby('Type')['Time'].idxmin()

min_time_indices_h_25 = df_homme_25.groupby('Type')['Time'].idxmin()
min_time_indices_h_50 = df_homme_50.groupby('Type')['Time'].idxmin()

list_femme_by_cat_25["all"] = df.loc[min_time_indices_f_25]
list_femme_by_cat_50["all"] = df.loc[min_time_indices_f_50]

list_homme_by_cat_25["all"] = df.loc[min_time_indices_h_25]
list_homme_by_cat_50["all"] = df.loc[min_time_indices_h_50]

In [8]:
list_femme_by_cat_25["all"]

,URL_ABCNatation,ID_FFN,Sex,Bassin,Type,Time,Age,Pts,Where,Date,Club,Link_Relai,Full Name
138813,https://abcnatation.fr/club_manager/clubs/nage...,1159370,F,25,100 4N,1900-01-01 00:01:09.610,18,1168,RENNES,2015-12-06,LANNION NATATION,NaN,Justine BOUREL
36835,https://abcnatation.fr/club_manager/clubs/nage...,1100330,F,25,100 BRASSE,1900-01-01 00:01:17.890,16,1125,CHOLET,2013-12-20,LANNION NATATION,NaN,Justine LOZAC'H
36099,https://abcnatation.fr/club_manager/clubs/nage...,1402007,F,25,100 DOS,1900-01-01 00:01:05.310,17,1151,ANGERS,2019-12-14,LANNION NATATION,NaN,Marine LECOMTE
35996,https://abcnatation.fr/club_manager/clubs/nage...,1402007,F,25,100 NL,1900-01-01 00:01:00.410,18,1095,DINAN,2021-06-12,LANNION NATATION,NaN,Marine LECOMTE
138751,https://abcnatation.fr/club_manager/clubs/nage...,1159370,F,25,100 PAP,1900-01-01 00:01:05.310,18,1182,CHOLET,2015-12-18,LANNION NATATION,NaN,Justine BOUREL
36056,https://abcnatation.fr/club_manager/clubs/nage...,1402007,F,25,1500 NL,1900-01-01 00:18:35.010,16,1062,SAINT-BRIEUC,2018-12-08,LANNION NATATION,NaN,Marine LECOMTE
36221,https://abcnatation.fr/club_manager/clubs/nage...,1402007,F,25,200 4N,1900-01-01 00:02:29.210,16,1053,SAINT-BRIEUC,2018-12-08,LANNION NATATION,NaN,Marine LECOMTE
161251,https://abcnatation.fr/club_manager/clubs/nage...,2230965,F,25,200 BRASSE,1900-01-01 00:02:49.490,15,1024,TOURS,2022-12-18,LANNION NATATION,NaN,Tiphaine PROUTEAU
36136,https://abcnatation.fr/club_manager/clubs/nage...,1402007,F,25,200 DOS,1900-01-01 00:02:21.040,17,1134,ANGERS,2019-12-15,LANNION NATATION,NaN,Marine LECOMTE
36017,https://abcnatation.fr/club_manager/clubs/nage...,1402007,F,25,200 NL,1900-01-01 00:02:09.720,18,1133,DINAN,2021-06-13,LANNION NATATION,NaN,Marine LECOMTE
138792,https://abcnatation.fr/club_manager/clubs/nage...,1159370,F,25,200 PAP,1900-01-01 00:02:25.880,18,1129,RENNES,2015-12-05,LANNION NATATION,NaN,Justine BOUREL
36232,https://abcnatation.fr/club_manager/clubs/nage...,1402007,F,25,400 4N,1900-01-01 00:05:21.350,15,997,LÉHON,2018-06-24,LANNION NATATION,NaN,Marine LECOMTE
216463,https://abcnatation.fr/club_manager/clubs/nage...,1647576,F,25,400 NL,1900-01-01 00:04:44.130,15,1045,LORIENT,2021-10-16,LANNION NATATION,NaN,Nolwenn MALIVET
36802,https://abcnatation.fr/club_manager/clubs/nage...,1100330,F,25,50 BRASSE,1900-01-01 00:00:35.500,16,1164,CHOLET,2013-12-22,LANNION NATATION,NaN,Justine LOZAC'H
36061,https://abcnatation.fr/club_manager/clubs/nage...,1402007,F,25,50 DOS,1900-01-01 00:00:30.320,18,1169,DINAN,2021-06-13,LANNION NATATION,https://ffn.extranat.fr/webffn/resultats.php?i...,Marine LECOMTE
74214,https://abcnatation.fr/club_manager/clubs/nage...,377922,F,25,50 NL,1900-01-01 00:00:27.610,22,953,LOUDÉAC,2012-11-24,LANNION NATATION,NaN,Camille BEAUMONT
138702,https://abcnatation.fr/club_manager/clubs/nage...,1159370,F,25,50 PAP,1900-01-01 00:00:29.470,18,1206,CHOLET,2015-12-19,LANNION NATATION,NaN,Justine BOUREL
36044,https://abcnatation.fr/club_manager/clubs/nage...,1402007,F,25,800 NL,1900-01-01 00:09:21.680,18,1117,DINAN,2021-06-12,LANNION NATATION,NaN,Marine LECOMTE

In [9]:
need_column = ['Full Name', 'Bassin','Type', 'Time', 'Age', 'Where', 'Date']
df_record = list_femme_by_cat_25["all"][need_column]

# Change the format to %M:%S.%f
df_record['Time'] = df_record['Time'].dt.strftime('%M:%S.%f').str[:8]

df_record

C:\Users\User\AppData\Local\Temp\ipykernel_23060\2094393187.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_record['Time'] = df_record['Time'].dt.strftime('%M:%S.%f').str[:8]

,Full Name,Bassin,Type,Time,Age,Where,Date
138813,Justine BOUREL,25,100 4N,01:09.61,18,RENNES,2015-12-06
36835,Justine LOZAC'H,25,100 BRASSE,01:17.89,16,CHOLET,2013-12-20
36099,Marine LECOMTE,25,100 DOS,01:05.31,17,ANGERS,2019-12-14
35996,Marine LECOMTE,25,100 NL,01:00.41,18,DINAN,2021-06-12
138751,Justine BOUREL,25,100 PAP,01:05.31,18,CHOLET,2015-12-18
36056,Marine LECOMTE,25,1500 NL,18:35.01,16,SAINT-BRIEUC,2018-12-08
36221,Marine LECOMTE,25,200 4N,02:29.21,16,SAINT-BRIEUC,2018-12-08
161251,Tiphaine PROUTEAU,25,200 BRASSE,02:49.49,15,TOURS,2022-12-18
36136,Marine LECOMTE,25,200 DOS,02:21.04,17,ANGERS,2019-12-15
36017,Marine LECOMTE,25,200 NL,02:09.72,18,DINAN,2021-06-13
138792,Justine BOUREL,25,200 PAP,02:25.88,18,RENNES,2015-12-05
36232,Marine LECOMTE,25,400 4N,05:21.35,15,LÉHON,2018-06-24
216463,Nolwenn MALIVET,25,400 NL,04:44.13,15,LORIENT,2021-10-16
36802,Justine LOZAC'H,25,50 BRASSE,00:35.50,16,CHOLET,2013-12-22
36061,Marine LECOMTE,25,50 DOS,00:30.32,18,DINAN,2021-06-13
74214,Camille BEAUMONT,25,50 NL,00:27.61,22,LOUDÉAC,2012-11-24
138702,Justine BOUREL,25,50 PAP,00:29.47,18,CHOLET,2015-12-19
36044,Marine LECOMTE,25,800 NL,09:21.68,18,DINAN,2021-06-12